/* .container {
  background-image: url("./img/img1.jpg");
  position: fixed;
} */
.image {
  width: 100%;
  height: 100%;
  /* position: fixed; */
}
.container2 {
  position: relative;
  display: inline-block;
}
.Login-Container {
  position: absolute;
  top: 50%; /* Position it 50% from the top of the container */
  left: 25%; /* Position it 50% from the left of the container */
  transform: translate(-50%, -50%);
  background-color: white;
  width: 500px;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 25px 25px 25px rgba(12, 12, 12, 0.2);
  /* height: 100px;  */
}
.img2 {
  width: 80%;
  height: 50%;
}
.para {
  width: 75%;
  font-style: italic;
}
.content {
  display: flex;
  justify-content: center;
}
